#boite div:nth-child(1) {
    height: 125px;
    width: 125px;
    background-color: red;
    border-radius: 100%;    
}
#boite div:nth-child(2) {
    height: 125px;
    width: 125px;
    background-color: orange;
    border-radius: 100%;
}
#boite div:nth-child(3) {

    height: 125px;
    width: 125px;
    background-color: green;
    border-radius: 100%;
}

#boite div.off {
    height: 125px;
    width: 125px;
    background-color: grey;
    border-radius: 100%;   
}

#boite {
    height: 500px;
    width: 175px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-direction: column;
}